header,
main {
  width: 85%;
  margin: 15px auto;
}
h1 {
  font-family: 'Lobster';
}
.trackNum {
  margin-bottom: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
.row:hover {
  background-color: #ffa5f0;
  color: black;
}

.row > * {
  flex: 1;
}

.row > img {
  width: auto;
  flex: 0 0 100px;
}

.row > span {
  flex: 0 0 15px;
}
.row > audio {
  flex: 0 0 0;
}
.row > div:last-child {
  flex: 0 0 70px;
  width: auto;
}
.small {
  font-size: 0.8em;
}
@media all and (max-width: 700px){
  img {
    display: none;
  }
  .row {
    border-bottom: 1px solid rgb(205,55,130);
    margin-bottom: 5px;
    padding: 5px;
  }
  .row:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .row > div:last-child{
    flex: 0 0 70px;
  }
}
@media all and (max-width: 500px){
  img {
    display: none;
  }
  .row {
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(205,55,130);
    margin-bottom: 5px;
    padding: 5px;
  }
  .row:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .row > div {
    flex: 0 0 100%;
  }
}
