@import "./variables";

header {
  width: 85%;
  margin: 15px auto;
  text-align: center;
}
select {
  background-color: $def_select;
  border: 1px solid $def_light;
}
input {
  background-color: $def_font;
  border: 1px solid $def_light;
  &:active {
    background-color: $def_select;
  }
}
button {
  background-color: $def_select;
  border: 1px solid $def_light;
}