.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  &:hover {
    background-color: #ffa5f0;
    color: black;
  }
  @media all and (max-width: 700px){
    border-bottom: 1px solid rgb(205,55,130);
    margin-bottom: 5px;
    padding: 5px;
  }
  @media all and (max-width: 500px){
    flex-wrap: wrap;
  }
  &:last-of-type {
    @media all and (max-width: 700px){
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  * {
    flex: 1;
  }
  img {
    width: auto;
    flex: 0 0 100px;
    @media all and (max-width: 700px){
      display: none;
    }
  }
  span {
    flex: 0 0 15px;
  }
  div:last-child {
    flex: 0 0 70px;
    width: auto;
    @media all and (max-width: 500px){
      flex: 0 0 100%;
    }
  }
  div {
    @media all and (max-width: 500px){
      flex: 0 0 100%;
    }
  }
}
.small {
  font-size: 0.8em;
}